<div id="formHandler">
    <h2>Enter product data</h1>
    <br>
    <div class="container" id="formContainer">
        <form action="/productos" method="post">
            <div>
                <label for="title"><b>Title</b></label>
                <input id="title" type="text" name="title">
            </div>
            <div>
                <label for="price"><b>Price</b></label>
                <input id="price" type="number" name="price">
            </div>
            <div>
                <label for="thumbnail"><b>Thumbnail</b></label>
                <input id="thumbnail" type="text" name="thumbnail">
            </div>
            <div id="buttonContainer">
                <button>Send</button>
            </div>
        </form>
    </div>
</div>
<style>
    #formHandler{
        border-radius: 50px;
        background-color:grey;
    }
    #formHandler>*{
        margin: auto auto;
        display: flex;
        justify-content: center;
        vertical-align: center;
    }
    #buttonContainer{
        display: flex;
        justify-content: center;
    }
</style>